.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
}

body{
    background-color: black;
}

.bg-light-dark{
    background-color: #343a40;
}

.bg-black{
    background-color: black;
}

a{
    color:white;
    text-decoration: none;
}

a:hover,a:active{
    color: white;
    text-decoration: none;
}

.modal-custom{
    height: 100vh;
}
/*
.aspect-ratio-box{
    overflow: hidden;
    height: 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: calc((300/1440)*100%);
}
.aspect-ratio-box:hover{
    border: solid;
    border-color: #6ea8fe;
}

.aspect-ratio-box-inside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
.sidebar{
    margin  :2rem;
    text-align: center;
    padding: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .sidebar {
      visibility: hidden;
    }
}

.gallery-item:hover,.gallery-item:active{
    background-color: #031633;
    border:solid;
    border-color: #084298;
}
.gallery-item{
    background-color: #212529;
}
.mini-image:hover{
    border: solid;
    border-color: #6ea8fe
}


.blog-item{
    background-color: #212529;
}
.blog-item:hover{
    background-color: #292c30;
}
.blog-new-image{
    color: white;
    min-height: 5rem;
}
.blog-new-image:hover{
    font-size: 120%;
    cursor: pointer;
}

.home-div{
    height:85vh;
    width:auto;
    overflow: hidden;
    background-color:black;
}

.home-link{
    background-color: #031633;
    width: 50%;
    border: solid white;
    border-width: 0.1rem;
    border-radius:2rem;
    padding: 0.75rem;
    text-align: center;
}

.home-link:hover{
    background-color: #052c65;
    cursor: pointer;
    transition: background-color 200ms;
}

.home-link:active{
    background-color: #084298;
}

.blog-comment{
    background-color: #343a40;
}

.blog-comment:hover{
    background-color: #5a5e61;
    border: solid white;
    border-width: 0.1rem;
}

.plus-sign{
    width: 3rem;
    background-color: #052c65;
    border-radius: 50%;
}